body {
  background-color: #071222;
}

h1,
h2,
h3 {
  color: #fff;
}

.profile-user-card-text {
  text-align: left;
}

.user-info {
  float: right;
  position: relative;
  right: 22rem;
}

.user-info.sub-text {
  color: #808080;
}

ul.bio-list {
  list-style: none;
  padding: 0;
}

.home-page {
  overflow: hidden;
}

.action-btn {
  font-size: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.action-btn:hover {
  color: #EB4034;
}

.text-info-style {
  color: #fff;
  font-size: 2rem;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .user-info {
    right: 17rem;
  }
}