.profile-user-card-text {
  text-align: left;
}

.user-info {
  float: right;
  position: relative;
  right: 22rem;
}

.user-info.sub-text {
  color: #808080;
}

ul.bio-list {
  list-style: none;
  padding: 0;
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .user-info {
    right: 17rem;
  }
}